<form [formGroup]="myFormProduct" (ngSubmit)="saveProduct()">
  <div
    class="detail-main-container d-flex flex-column justify-content-center align-items-center"
  >
    <div
      class="container shadow-lg rounded detail-container d-flex justify-content-around align-items-center"
    >
      <div class="container">
        <h2 style="margin-left: 8px">Add Product</h2>
        <hr />
        <div class="row">
          <div class="col mt-2">
            <mat-form-field class="field" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="isValidateField('name')">
                <span>
                  {{
                    onFieldValitatorRequiredLength("name")
                      ? "Username is required"
                      : "Username exists"
                  }}
                </span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="field" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <mat-error *ngIf="isValidateField('description')">
                is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="field" appearance="outline">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" />
              <mat-error *ngIf="isValidateField('price')">
                is required
              </mat-error>
            </mat-form-field>

            <section>
              <mat-slide-toggle class="field mb15" formControlName="active">
                {{ myFormProduct.get("active")?.value ? "Active" : "Inactive" }}
              </mat-slide-toggle>
            </section>

            <div class="row">
              <div class="col-sm">
                <mat-form-field class="field" appearance="outline">
                  <mat-label>Categories</mat-label>
                  <mat-select formControlName="category" name="category">
                    <mat-option
                      *ngFor="let category of categories"
                      [value]="category"
                    >
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isValidateField('category')">
                    is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col mt-2">
            <img
              *ngIf="imageUrl"
              [src]="imageUrl"
              class="img-fluid rounded mx-auto d-block img"
              alt="..."
            />
            <img
              *ngIf="!imageUrl"
              src="assets/data/img/default.png"
              class="img-fluid rounded mx-auto d-block img"
              alt="..."
            />
            <div class="mt-3">
              <input
                class="form-control"
                formControlName="file"
                type="file"
                (change)="onFileSelected($event)"
              />
            </div>
            <mat-error *ngIf="isValidateField('file')">
              select an image please
            </mat-error>
          </div>
        </div>
        <mat-card-actions>
          <button routerLink="/admin/products" mat-raised-button color="warn">
            Back
          </button>
        </mat-card-actions>

        <mat-card-actions style="margin-left: 5%">
          <button type="submit" mat-raised-button color="primary">
            Add Product
          </button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</form>
