<!-- footer -->
<div class="container container-fluid container-footer overflow-hidden">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 my-3">
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#prices">Prices</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#features">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-muted" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col m-2">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a class="text-muted" target="_blank" class="nav-link p-0 text-muted">Three &copy; 2023</a>
              </li>
              <li class="nav-item mb-2">
                <a href="" target="_blank" class="nav-link p-0 text-muted">Erich</a>
              </li>
              <li class="nav-item mb-2">
                <a href="https://github.com/swagerich" target="_blank" class="nav-link p-0 text-muted">See code here</a>
              </li>
            </ul>
        </div>
        <div class="col m-2">
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a class="text-muted" class="nav-link p-0 text-muted" routerLink="/shop">Shop</a>
            </li>
          </ul>
        </div>
    </footer>
</div>